@using Microsoft.AspNetCore.Identity
@using Ecom.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <iconify-icon class="profile" icon="iconamoon:profile-circle-fill"></iconify-icon>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                <a id="manage" class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    Profile
                </a>
                <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="dropdown-item text-dark border-0">Logout</button>
                </form>
            </div>
        </li>

}
else
{
    <li class="nav-item">
            <a class="nav-link fs-6 fw-bold" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
            <a class="nav-link fs-6 fw-bold" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
