@{
    ViewData["Title"] = "Home Page";
}

    <div class="head">
    
    </div>
    <div class="brand m-5">
        <div class="brand-name m-5 p-2">
            <p class="display-4">Bijaya Home Decor</p>
            <p class="h6 description">Transform Your Home with Exquisite Furniture Creations</p>
        <button class="btn btn-primary" asp-area="" asp-controller="Products" asp-action="Index">Shop Now</button>
        </div>
        <div class="image me-5 mb-5">
            <img class="img-fluid rounded-6" src="img/sof.jpg" alt="" class="image-1">
        </div>
    </div>
    <div class="about-section m-5">
        <div class="about-des m-5 p-2 me-0">
            <p class="h2"><strong>About Us</strong></p>
            <p class="h6">
                We provides you with the ultimate solution to furnish your home and office with stylish, modern, and durable furniture online. We strive to bring you the best online furniture range of outdoor furniture, office tables, dining tables, executive chairs, garden chairs, modular offices, beds, air conditioners and more. We also offer custom-made wooden furniture design which you can order from us. We offer tools and resources to browse many furniture designs and filter, sort and even compare among products. You can add the furniture you want to your wishlist and come back to purchase when you want.
            </p>
            <p class="h6">
                We understand what the perfect furniture adds to the comfort of your house. In addition to being a beautiful furniture, a well designed furniture not only couch and beds but even table and desk for work or even storage units like cabinets needs to be well thought out and resonates your class and style.
            </p>
            <button class="btn btn-primary">Read more</button>
        </div>
        <div class="img-lights ms-0 me-5 mb-5">
            <img src="img/lights.png" alt="" class="lights">
        </div>
    </div>

    <div class="categories-section m-5">
        <div class="categories-title m-5 mt-0">
            <p class="h2"><strong>Categories</strong></p>
            <p class="h6">Brouse through the different categories</p>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4 m-5 mt-0">
            <div class="col">
                <div class="card shadow h-100">
                    <img src="img/sofa.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Sofa</h5>
                        <p class="card-text">120.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow h-100">
                    <img src="img/Chair.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Chairs</h5>
                        <p class="card-text">120</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow h-100">
                    <img src="img/Curtain.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Curtains</h5>
                        <p class="card-text">120</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow h-100">
                    <img src="img/Bed.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Beds</h5>
                        <p class="card-text">120</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow h-100">
                    <img src="img/dINING.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Dinning Tables</h5>
                        <p class="card-text">120</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow h-100">
                    <img src="img/wardrobe.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">wardrobe</h5>
                        <p class="card-text">120</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="products-section m-5">
        <div class="products-title m-5 mt-0">
            <p class="h2"><strong>Trending Products</strong></p>
            <p class="h6">Some of our most popular products</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div id="carouselExampleAutoplaying" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-md-3 mb-3">
                                        <div class="card shadow h-100">
                                            <img src="img/sofa.png" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Sofa</h5>
                                                <iconify-icon class="star" icon="ic:round-star-rate"></iconify-icon>
                                                <iconify-icon class="star" icon="ic:round-star-rate"></iconify-icon>
                                                <iconify-icon class="star" icon="ic:round-star-rate"></iconify-icon>
                                                <iconify-icon class="star" icon="ic:round-star-rate"></iconify-icon>
                                                <iconify-icon icon="ic:round-star-outline"></iconify-icon>
                                                <p class="card-text">120.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <div class="card shadow h-100">
                                            <img src="img/sofa.png" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Sofa</h5>
                                                <iconify-icon class="star" icon="ic:round-star-rate"></iconify-icon>
                                                <iconify-icon class="star" icon="ic:round-star-rate"></iconify-icon>
                                                <iconify-icon class="star" icon="ic:round-star-rate"></iconify-icon>
                                                <iconify-icon class="star" icon="ic:round-star-rate"></iconify-icon>
                                                <iconify-icon icon="ic:round-star-outline"></iconify-icon>
                                                <p class="card-text">120.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <div class="card shadow h-100">
                                            <img src="img/sofa.png" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Sofa</h5>
                                                <iconify-icon class="star" icon="ic:round-star-rate"></iconify-icon>
                                                <iconify-icon class="star" icon="ic:round-star-rate"></iconify-icon>
                                                <iconify-icon class="star" icon="ic:round-star-rate"></iconify-icon>
                                                <iconify-icon class="star" icon="ic:round-star-rate"></iconify-icon>
                                                <iconify-icon icon="ic:round-star-outline"></iconify-icon>
                                                <p class="card-text">120.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <div class="card shadow h-100">
                                            <img src="img/sofa.png" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Sofa</h5>
                                                <iconify-icon class="star" icon="ic:round-star-rate"></iconify-icon>
                                                <iconify-icon class="star" icon="ic:round-star-rate"></iconify-icon>
                                                <iconify-icon class="star" icon="ic:round-star-rate"></iconify-icon>
                                                <iconify-icon class="star" icon="ic:round-star-rate"></iconify-icon>
                                                <iconify-icon icon="ic:round-star-outline"></iconify-icon>
                                                <p class="card-text">120.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-3 mb-3">
                                        <div class="card shadow h-100">
                                            <img src="img/sofa.png" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Sofa</h5>
                                                <iconify-icon class="star" icon="ic:round-star-rate"></iconify-icon>
                                                <iconify-icon class="star" icon="ic:round-star-rate"></iconify-icon>
                                                <iconify-icon class="star" icon="ic:round-star-rate"></iconify-icon>
                                                <iconify-icon class="star" icon="ic:round-star-rate"></iconify-icon>
                                                <iconify-icon icon="ic:round-star-outline"></iconify-icon>
                                                <p class="card-text">120.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <div class="card shadow h-100">
                                            <img src="img/sofa.png" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Sofa</h5>
                                                <iconify-icon class="star" icon="ic:round-star-rate"></iconify-icon>
                                                <iconify-icon class="star" icon="ic:round-star-rate"></iconify-icon>
                                                <iconify-icon class="star" icon="ic:round-star-rate"></iconify-icon>
                                                <iconify-icon class="star" icon="ic:round-star-rate"></iconify-icon>
                                                <iconify-icon icon="ic:round-star-outline"></iconify-icon>
                                                <p class="card-text">120.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <div class="card shadow h-100">
                                            <img src="img/sofa.png" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Sofa</h5>
                                                <iconify-icon class="star" icon="ic:round-star-rate"></iconify-icon>
                                                <iconify-icon class="star" icon="ic:round-star-rate"></iconify-icon>
                                                <iconify-icon class="star" icon="ic:round-star-rate"></iconify-icon>
                                                <iconify-icon class="star" icon="ic:round-star-rate"></iconify-icon>
                                                <iconify-icon icon="ic:round-star-outline"></iconify-icon>
                                                <p class="card-text">120.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <div class="card shadow h-100">
                                            <img src="img/sofa.png" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Sofa</h5>
                                                <iconify-icon class="star" icon="ic:round-star-rate"></iconify-icon>
                                                <iconify-icon class="star" icon="ic:round-star-rate"></iconify-icon>
                                                <iconify-icon class="star" icon="ic:round-star-rate"></iconify-icon>
                                                <iconify-icon class="star" icon="ic:round-star-rate"></iconify-icon>
                                                <iconify-icon icon="ic:round-star-outline"></iconify-icon>
                                                <p class="card-text">120.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-3 mb-3">
                                        <div class="card shadow h-100">
                                            <img src="img/sofa.png" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Sofa</h5>
                                                <iconify-icon class="star" icon="ic:round-star-rate"></iconify-icon>
                                                <iconify-icon class="star" icon="ic:round-star-rate"></iconify-icon>
                                                <iconify-icon class="star" icon="ic:round-star-rate"></iconify-icon>
                                                <iconify-icon class="star" icon="ic:round-star-rate"></iconify-icon>
                                                <iconify-icon icon="ic:round-star-outline"></iconify-icon>
                                                <p class="card-text">120.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <div class="card shadow h-100">
                                            <img src="img/sofa.png" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Sofa</h5>
                                                <iconify-icon class="star" icon="ic:round-star-rate"></iconify-icon>
                                                <iconify-icon class="star" icon="ic:round-star-rate"></iconify-icon>
                                                <iconify-icon class="star" icon="ic:round-star-rate"></iconify-icon>
                                                <iconify-icon class="star" icon="ic:round-star-rate"></iconify-icon>
                                                <iconify-icon icon="ic:round-star-outline"></iconify-icon>
                                                <p class="card-text">120.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <div class="card shadow h-100">
                                            <img src="img/sofa.png" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Sofa</h5>
                                                <iconify-icon class="star" icon="ic:round-star-rate"></iconify-icon>
                                                <iconify-icon class="star" icon="ic:round-star-rate"></iconify-icon>
                                                <iconify-icon class="star" icon="ic:round-star-rate"></iconify-icon>
                                                <iconify-icon class="star" icon="ic:round-star-rate"></iconify-icon>
                                                <iconify-icon icon="ic:round-star-outline"></iconify-icon>
                                                <p class="card-text">120.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <div class="card shadow h-100">
                                            <img src="img/sofa.png" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">Sofa</h5>
                                                <iconify-icon class="star" icon="ic:round-star-rate"></iconify-icon>
                                                <iconify-icon class="star" icon="ic:round-star-rate"></iconify-icon>
                                                <iconify-icon class="star" icon="ic:round-star-rate"></iconify-icon>
                                                <iconify-icon class="star" icon="ic:round-star-rate"></iconify-icon>
                                                <iconify-icon icon="ic:round-star-outline"></iconify-icon>
                                                <p class="card-text">120.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
