@model Ecom.ViewModel.CheckoutView

@{
    ViewData["Title"] = "ProceedToCheckout";
}

<div class="container">
    <h4>Please Provide Shipping Address</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-controller="Orders" asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" name="TotalAmount" value="@Model.Cart.GrandTotal" />
                @foreach (var item in Model.CartItems)
                {
                    <input type="hidden" name="CartItemIds" value="@item.Id" />
                }

                <div class="form-group">
                    <label asp-for="ShippingDetail.ShippingAddress" class="control-label">Address</label>
                    <input asp-for="ShippingDetail.ShippingAddress" class="form-control" />
                    <span asp-validation-for="ShippingDetail.ShippingAddress" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ShippingDetail.Provience" class="control-label"></label>
                    <input asp-for="ShippingDetail.Provience" class="form-control" />
                    <span asp-validation-for="ShippingDetail.Provience" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ShippingDetail.City" class="control-label"></label>
                    <input asp-for="ShippingDetail.City" class="form-control" />
                    <span asp-validation-for="ShippingDetail.City" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ShippingDetail.PostalCode" class="control-label"></label>
                    <input asp-for="ShippingDetail.PostalCode" class="form-control" />
                    <span asp-validation-for="ShippingDetail.PostalCode" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Place Order" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
